<h2>Attribute Exchange</h2>
<ul>
  <li><%= link_to 'Google', open_id_path(:id => 'google', :ax => true) %></li>
  <li><%= link_to 'Yahoo!', open_id_path(:id => 'yahoo', :ax => true) %></li>
  <li><%= link_to 'Yahoo! Japan', open_id_path(:id => 'yahoo_japan', :ax => true) %></li>
</ul>