<h2>UI Extension</h2>
<ul>
  <li><%= link_to 'Google', open_id_path(:id => 'google', :ui => true), :class => :popup %></li>
  <li><%= link_to 'Yahoo!', open_id_path(:id => 'yahoo', :ui => true), :class => :popup, :'data-width' => 500 %></li>
  <li><%= link_to 'Yahoo! Japan', open_id_path(:id => 'yahoo_japan', :ui => true), :class => :popup, :'data-width' => 523, :'data-height' => 550 %></li>
</ul>