<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>OpenID Sample</title>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1>OpenID Sample</h1>
  <%= yield %>
  <script>
    $(function () {
      $('a.popup').click(function () {
        var width = $(this).attr('data-width') || 450;
        var height = $(this).attr('data-height') || 500;
        var left = (screen.availWidth - width) / 2;
        var top = (screen.availHeight - height) / 2;
        left = left < 0 ? 0 : left;
        top = top < 0 ? 0 : top;
        var login_window = window.open(
          this.href,
          'login_window',
          "height=" + height + ",width=" + width + ",left=" + left + ",top=" + top + ",resizable=yes"
        );
        login_window.opener = window;
        login_window.focus();
        return false;
      });
    });
  </script>
</body>
</html>
